<table border="1">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Items Purchased</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @user.each do |u| %>
      <td>
        <%=link_to u.name, administrator_show_path(:user => u)  %>
      </td>
      <td>
        <% items = find_item(u) %>
        <%= items.map {|item| item.name}.to_sentence %>
      </td>
      <td>
        <% category = [] %>
        <% items.each do |i| %>
          <% category = (category + find_categories(i)).uniq %>
        <% end %>
        <%= category.map {|categories| categories.name}.to_sentence %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

